.archive-description,
.author-box {
	border-top: 2px solid $colorLight;
	border-bottom: 2px solid $colorLight;
	margin-bottom: 40px;
    padding: 40px 0;

    p:last-child {
    	margin-bottom: 0;
    }
}

.author-box {
	font-size: .8em;

	.avatar {
		margin: 0 0 24px 24px;
		max-width: 70px;
	}
}

@media screen and (min-width: $break-medium) {

	.author-box {
		font-size: 1.2em;

		.avatar {
			max-width: 100%;
		}
	}

}
