// Jetpack.
#wpstats {
	display: none;
}

// Enews Extended.
.enews {
	p {
		font-size: 0.8em;
	}
	
	input {
		margin-bottom: 20px;

		&[type="submit"] {
			display: block;
			text-align: center;
			width: 100%;
		}
	}
}
