.site-container {
	max-width: 1000px;
	margin: 80px auto;
}

.site-inner,
.wrap,
.site-footer {
	margin: 0 auto;
	width: 100%;
}

.site-inner {
	clear: both;
	padding: 20px 10px;
}

@media only screen and (min-width: $break-medium) {

	.site-inner {
		padding: 0;
	}

	.grid-wrapper,
	.content-sidebar-wrap {
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(12, 1fr);
		padding: 0;

		> * {
			grid-column: span 12;
		}
	}

	.content {
		grid-column: 1 / 9;
	}

	.sidebar {
		grid-column: 9 / 13;
	}

	.site-footer {
		padding: 40px;
	}

}

.site-header {
	background: #fff;
	border-bottom: 1px solid $colorLight;
	width: 100%;

	> .wrap {
		padding: 20px 10px;

		@media only screen and (min-width: $break-medium) {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			padding: 20px 0;
		}
	}
}

.admin-bar .site-header {
	top: 46px;
}

.title-area {
	float: left;
	max-width: 70%;
}

@media screen and (min-width: $break-large) {

	/* Structure */
	.site-inner {
		margin-top: 0;
	}

	/* Layout Wrappers */
	.content {
		float: right;
	}

	.content-sidebar .content {
		float: left;
	}

	/*----------  Columns  ----------*/
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}

}
