.site-container {
	margin: 0 auto;
}

.tech-notice {
	background: $linkDefault;
	color: #fff;
	display: none;
	font-size: 0.8em;
	text-align: center;
	padding: 10px 40px;

	a {
		text-decoration: underline;

		&,
		a:focus,
		a:hover {
			color: #fff;
		}
	}

	p {
		margin: 0;
	}

	@media only screen and (min-width: $break-medium) {
		display: block;

		@supports (display:grid) {
			display: none;
		}
	}
}

.site-inner,
.wrap,
.site-footer {
	margin: 0 auto;
	width: 100%;
}

.site-inner {
	clear: both;
	padding: 20px 10px;
}

.site-header {
	background: $default;
	color: $colorLight;

	> .wrap {
		padding: 20px 10px;

		@media only screen and (min-width: $break-medium) {
			padding: 40px;
		}
	}
}

.title-area {
	margin-bottom: 40px;
}

@media only screen and (min-width: $break-small) {

	.grid-wrapper {
		max-width: 1800px;
	}

	.grid-wrapper,
	.content-sidebar-wrap {
		display: block;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		padding: 0;
	}

	.content-sidebar-wrap {
		grid-template-columns: repeat(9, 1fr);
	}

	.site-inner {
		padding: 0;
	}

	.site-header,
	.site-inner {
		grid-column: 1 / span 12;
	}

}

@media only screen and (min-width: $break-medium) {

	.grid-wrapper {
		grid-template-columns: repeat(3, 100px) repeat(9, 1fr);
	}

	.site-inner {
		grid-column: 4 / span 10;
	}

	.site-header {
		grid-column: 1 / span 3;
	}

	.content {
		background: #fff;
		grid-column: 1 / 7;
		padding: 40px;
	}

	.archive .content {
		display: block;
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(6, 1fr);

		.entry {
			grid-column: span 3;
		}
	}

	.sidebar {
		background: $colorUltraLight;
		grid-column: 7 / 10;
		padding: 40px;
	}

	.archive-description,
	.pagination {
		grid-column: span 6;
	}

	.site-footer {
		grid-column: 1 / span 12;
		padding: 40px;
	}

}


@media screen and (min-width: $break-large) {

	// Structure.
	.site-inner {
		margin-top: 0;
	}

	// Layout Wrappers.
	.content {
		float: right;
	}

	.content-sidebar .content {
		float: left;
	}

	// Columns.
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}

}
