// Typography
body {
    font-size: calc( 16px + 2 * (100vw - 400px) / 1300 );
    font-weight: 400;
    line-height: 1.45;
    margin: auto;
}

a {
	color: $linkDefault;
	text-decoration: none;

	&:hover,
	&:focus {
        color: $default;
        text-decoration: none;
	}
}

.site-inner a {
    background-image: linear-gradient($linkDefault, $linkDefault);
    background-position: 0 1em;
    background-repeat: repeat-x;
    background-size: 100%  2px;

    &:focus,
    &:hover {
        background-image: linear-gradient($default, $default);
    }

    &.button {
        background-image: none;

        &:focus,
        &:hover {
            color: $colorUltraLight;
        }
    }
}

p {
	margin: 0 0 1.3em 0;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.entry-content {

	ol,
	ul {
		margin-bottom: 28px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 4px solid $colorLight;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 3px solid #000;
	color: #000;
	margin: 1.3em 0;
	padding-left: 10px;
}

small,
cite {
	font-size: 0.8em;
}

// Headings
h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.03em;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3,
.archive .entry-title {
	font-size: 1.563em;
}

h4 {
    font-size: 1.25em;
}

h5,
h6 {
	font-size: inherit;
	line-height: inherit;
}

// Site header.
.site-title {
	font-family: $fontHeading;
    font-size: 1.25em;
	line-height: 1.2;
    text-transform: uppercase;
	margin: 0;

    &,
    a {
        color: $colorUltraLight;
        font-weight: 400;
        text-decoration: none;
    }
}

.site-description {
    display: none;
	font-size: 0.8em;
    margin: 1.3em 0 0;

    @media only screen and (min-width: $break-small) {
        display: block;
    }
}

.author-box-title {
	font-size: 18px;
	font-size: 1.8rem;
	margin-top: 0;
}

.archive-title {
	margin: 0 0 5px;
}
