$black: #010101;
$gray:  #444444;
$white: #f5f5f5;
$accent: #EA4D46;
$second: #D1E8F3;

$header_font: "Helvetica Neue", sans-serif;
$body_font: "Georgia", serif;

$web_font: "Libre Baskerville", serif;

$breakpoints: (
	sm: '600px',
	md: '800px',
	lg: '1000px'
)