

/*=====================================
=            Content Areas            =
=====================================*/

/*----------  Entries  ----------*/

.entry {
	text-rendering: optimizeLegibility;
}

.entry-header {
	clear: both;
	padding: 5vh 0;
	margin-bottom: 40px;
	text-align: center;
}

.entry-content  {
	& p:first-of-type {
		font-size: 26px;
		font-size: 2.6rem;
		font-weight: 300;
		line-height: 1.4;
	}
}

.more-link {
	display: block;
	margin-bottom: 0;
	text-align: center;
}

/*----------  Entry Meta  ----------*/

p.entry-meta {

	& svg {
		margin: 0 5px 0 10px;
	}

}

/*----------  Comments  ----------*/

.comment-header {
	margin-bottom: 20px;
	overflow: hidden;
}

.comment-author {
	margin: 0;
}

.comment .avatar {
	float: left;
	margin: 0 10px 0 0;
}

.says,
.comment-meta,
.comment-edit-link {
	font-size: .8em;
	font-style: italic;
	margin: 0;
}

.comment-reply {
	clear: both;
}

li.pingback,
li.comment > article {
	margin-bottom: 40px;
}

ul.children {
	margin-left: 10px;
}

.comment-reply-title > small,
.logged-in-as {
	font-family: var(--fontBody);
	font-size: 16px;
	font-size: 1.6rem;
	font-style: italic;
	font-weight: normal;
}

/*----------  Pagination  ----------*/

.pagination {
	overflow: hidden;
	padding: 40px 0;

	& ul {
		text-align: center;
	}

	& li {
		display: inline-block;

		&.active a {
			border: 0;
			font-weight: bold;
		}
	}

	& a {
		font-style: italic;
		margin: 0 10px;
	}

	& .pagination-next,
	& .pagination-previous {
		display: block;
		width: 100%;
	}
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@media screen and (min-width: 768px) {

	/* Comments */
	.entry-comments {
		max-width: 740px;
		margin: 0 auto;

		& > h3 {
			text-align: center;
		}
	}
	.comment .avatar {
		margin-right: 24px;
	}

	ul.children {
		margin-left: 40px;
	}

	#overlay {
		background: rgba(0,0,0,.4);
		border-radius: 3px;
		display: none;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 100;

		&.visible {
			display: block;
		}
	}

	#login-popup {
		display: none;
		height: 80vh;
		left: 25vw;
		position: fixed;
		text-align: center;
		top: 10vh;
		width: 50vw;
		z-index: 999;

		&.visible {
			display: block;
		}
	}

	.archive,
	.blog,
	.home-loop {

		& .content {
			align-items: stretch;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		& .entry {
			background: color( var(--colorLight) tint(50%) );
			border: 4px solid var(--colorLight);
			align-items: center;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			margin-bottom: 4%;
			padding: 6% 5% 5%;
			position: relative;
			width: 48%;

			& a:not(.button) {
				text-shadow: .03em 0 color( var(--colorLight) tint(50%) ), -.03em 0 color( var(--colorLight) tint(50%) ), 0 .03em color( var(--colorLight) tint(50%) ), 0 -.03em color( var(--colorLight) tint(50%) ), .06em 0 color( var(--colorLight) tint(50%) ), -.06em 0 color( var(--colorLight) tint(50%) ), .09em 0 color( var(--colorLight) tint(50%) ), -.09em 0 color( var(--colorLight) tint(50%) ), .12em 0 color( var(--colorLight) tint(50%) ), -.12em 0 color( var(--colorLight) tint(50%) );
			}

			&:hover {
				border-color: var(--linkDefault);
			}
		}

		& .entry-header {
			padding: 0;
		}

		& .entry-content {
			text-align: justify;
			padding: 0;

			& p:first-of-type {
				font-size: 1em;
			}
		}

		& .entry-title,
		& .entry-title a {
			font-size: 28px;
			font-size: 2.8rem;
			line-height: 1;
		}

		& .entry-title a {
			background-image: linear-gradient( var(--default), var(--default) );
		}

		& p.entry-meta {
			background: var(--colorLight);
			color: color( var(--colorLight) shade(50%) );
			font-size: .8em;
			font-weight: bold;
			right: 0;
			padding: .2em .5em;
			position: absolute;
			top: 0;
		}

	}

	.single .entry {

		& .entry-content {
			float: none;
			margin-left: 0;
			max-width: 100%;
			width: 100%;

			& > :not(.stretch) {
				max-width: 740px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		& .entry-header {
			margin: 0 auto;
			max-width: 1200px;
		}
	}

	/* Pagination */
	.pagination {
		& .pagination-next,
		& .pagination-previous {
			display: inline-block;
			width: auto;
		}

		& .pagination-next {
			float: right;
		}

		& .pagination-previous {
			float: left;
		}
	}
}
