

/*=====================================
=            Content Areas            =
=====================================*/

/*----------  Entries  ----------*/

.entry {
	text-rendering: optimizeLegibility;
}

.entry-header {
	clear: both;
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
}

.more-link {
	display: block;
	margin-bottom: 0;
	text-align: center;
}

/*----------  Entry Meta  ----------*/

p.entry-meta {

	& svg {
		margin: 0 5px 0 10px;
	}

}

/*----------  Comments  ----------*/

.comment {

	& article {
		background: color( var(--colorLight) tint(50%) );
		border: 4px solid var(--colorLight);
		border-radius: 3px;
		padding: 5%;

		& a:not(.button) {
			text-shadow: .03em 0 color( var(--colorLight) tint(25%) ), -.03em 0 color( var(--colorLight) tint(25%) ), 0 .03em color( var(--colorLight) tint(25%) ), 0 -.03em color( var(--colorLight) tint(25%) ), .06em 0 color( var(--colorLight) tint(25%) ), -.06em 0 color( var(--colorLight) tint(25%) ), .09em 0 color( var(--colorLight) tint(25%) ), -.09em 0 color( var(--colorLight) tint(25%) ), .12em 0 color( var(--colorLight) tint(25%) ), -.12em 0 color( var(--colorLight) tint(25%) );
		}
	}

	& ul.children {
		margin-bottom: 0;
		position: relative;

		&::before {
			background: var(--colorLight);
			content: "";
			height: 40px;
			left: 5%;
			position: absolute;
			top: 0;
			transform: translate3d(0,-100%,0);
			width: 4px;
		}
	}
}

.comment-header {
	background: color( var(--colorLight) tint(25%) );
	border-bottom: 4px solid var(--colorLight);
	margin: calc( -5% - 4px ) calc( -5% - 4px ) 5%;
	overflow: hidden;
	padding: 2% 5%;
}

.comment-respond {
	margin: 0 auto;
	max-width: 740px;
}

.comment-author {
	margin: 0;
}

.comment .avatar {
	float: left;
	margin: 0 10px 0 0;
}

.says,
.comment-meta,
.comment-edit-link {
	font-size: .8em;
	font-style: italic;
	margin: 0;
}

.comment-reply {
	clear: both;
}

li.pingback,
li.comment > article {
	margin-bottom: 40px;
}

ul.children {
	margin-left: 10px;
}

.comment-reply-title > small,
.logged-in-as {
	font-family: var(--fontBody);
	font-size: 16px;
	font-size: 1.6rem;
	font-style: italic;
	font-weight: normal;
}

/*----------  Share It!  ----------*/

.share-it {
	& a {
		display: block;
		margin-bottom: 20px;
		text-align: center;
	}
}

/*----------  Pagination  ----------*/

.pagination {
	overflow: hidden;
	padding: 40px 0;

	& ul {
		text-align: center;
	}

	& li {
		display: inline-block;

		&.active a {
			border: 0;
			font-weight: bold;
		}
	}

	& a {
		font-style: italic;
		margin: 0 10px;
	}

	& .pagination-next,
	& .pagination-previous {
		display: block;
		width: 100%;
	}
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@media screen and (min-width: 870px) {

	/* Comments */
	.entry-comments {
		margin: 0 auto;
		max-width: 740px;

		& > h3 {
			text-align: center;
		}
	}
	.comment .avatar {
		margin-right: 24px;
	}

	ul.children {
		margin-left: 40px;
	}

	#popup {
		display: none;
		left: 0;
		position: fixed;
		text-align: center;
		top: 0;
		transform: scale(0.9);
		transition: transform .25s ease-in-out;
		z-index: 999;

		&.visible {
			display: block;
			transform: scale(1);
		}

		& .widget {
			align-items: center;
			display: flex;
			height: 80vh;
			left: 25vw;
			margin: 0;
			position: fixed;
			top: 10vh;
			width: 50vw;
		}
	}

	.archive,
	.blog,
	.home-loop {

		& .content {
			align-items: stretch;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		& .entry {
			align-items: center;
			background: color( var(--colorLight) tint(50%) );
			border: 4px solid var(--colorLight);
			border-radius: 3px;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			margin-bottom: 4%;
			padding: 6% 5% 5%;
			position: relative;
			width: 48%;

			& a:not(.button) {
				text-shadow: .03em 0 color( var(--colorLight) tint(50%) ), -.03em 0 color( var(--colorLight) tint(50%) ), 0 .03em color( var(--colorLight) tint(50%) ), 0 -.03em color( var(--colorLight) tint(50%) ), .06em 0 color( var(--colorLight) tint(50%) ), -.06em 0 color( var(--colorLight) tint(50%) ), .09em 0 color( var(--colorLight) tint(50%) ), -.09em 0 color( var(--colorLight) tint(50%) ), .12em 0 color( var(--colorLight) tint(50%) ), -.12em 0 color( var(--colorLight) tint(50%) );
			}

			&:hover {
				border-color: var(--linkDefault);
			}
		}

		& .entry-header {
			padding: 0;
		}

		& .entry-content {
			padding: 0;
			text-align: justify;

			& p:first-of-type {
				font-size: 1em;
			}
		}

		& .entry-title,
		& .entry-title a {
			font-size: 28px;
			font-size: 2.8rem;
			line-height: 1;
		}

		& .entry-title a {
			background-image: linear-gradient( var(--default), var(--default) );
		}

		& p.entry-meta {
			background: var(--colorLight);
			color: color( var(--colorLight) shade(50%) );
			font-size: .8em;
			font-weight: bold;
			padding: .2em .5em;
			position: absolute;
			right: 0;
			top: 0;
		}

	}

	.entry-content {
		& p:first-of-type {
			font-size: 26px;
			font-size: 2.6rem;
			font-weight: 300;
			line-height: 1.4;
		}
	}

	.entry {

		& .entry-content {
			float: none;
			margin-left: 0;
			max-width: 100%;
			width: 100%;

			& > :not(.stretch) {
				margin-left: auto;
				margin-right: auto;
				max-width: 740px;
			}
		}
	}

	.single {
		& .entry-header {
			background: var(--linkDefault);
			box-shadow: inset 0 -60px 30px -60px color( var(--default) shade(50%) alpha(-80%) );
			color: #fff;
			margin: 0 auto 40px;
			padding: 15vh calc( 100vw - 1200px );

			& a:not(.button) {
				background-image: linear-gradient( color( var(--linkDefault) tint(50%) ), color( var(--linkDefault) tint(50%) ) );
				color: #fff;
				text-shadow: .03em 0 var(--linkDefault), -.03em 0 var(--linkDefault), 0 .03em var(--linkDefault), 0 -.03em var(--linkDefault), .06em 0 var(--linkDefault), -.06em 0 var(--linkDefault), .09em 0 var(--linkDefault), -.09em 0 var(--linkDefault), .12em 0 var(--linkDefault), -.12em 0 var(--linkDefault);

				&:focus,
				&:hover {
					background-image: linear-gradient( #fff, #fff );
				}
			}
		}
	}

	.share-it {
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;

		& a {
			margin: 0;
			width: 32%;
		}
	}

	/* Pagination */
	.pagination {
		& .pagination-next,
		& .pagination-previous {
			display: inline-block;
			width: auto;
		}

		& .pagination-next {
			float: right;
		}

		& .pagination-previous {
			float: left;
		}
	}
}
