

/*=====================================
=            Content Areas            =
=====================================*/

/*----------  Entries  ----------*/

.entry {
	text-rendering: optimizeLegibility;
}

.entry-header {
	padding: 5vh 0;
	text-align: center;
}

.entry-content  {
	& p:first-of-type {
		font-size: 26px;
		font-size: 2.6rem;
		font-weight: 300;
		line-height: 1.4;
	}
}

/*----------  Entry Meta  ----------*/

p.entry-meta {

	& svg {
		margin: 0 5px 0 10px;
	}

}

/*----------  Comments  ----------*/

.comment-header {
	margin-bottom: 20px;
	overflow: hidden;
}

.comment-author {
	margin: 0;
}

.comment .avatar {
	float: left;
	margin: 0 10px 0 0;
}

.says,
.comment-meta,
.comment-edit-link {
	font-size: .8em;
	font-style: italic;
	margin: 0;
}

.comment-reply {
	clear: both;
}

li.pingback,
li.comment > article {
	margin-bottom: 40px;
}

ul.children {
	margin-left: 10px;
}

.comment-reply-title > small,
.logged-in-as {
	font-family: var(--fontBody);
	font-size: 16px;
	font-size: 1.6rem;
	font-style: italic;
	font-weight: normal;
}

/*----------  Pagination  ----------*/

.pagination {
	overflow: hidden;
	padding: 40px 0;

	& ul {
		text-align: center;
	}

	& li {
		display: inline-block;

		&.active a {
			border: 0;
			font-weight: bold;
		}
	}

	& a {
		font-style: italic;
		margin: 0 10px;
	}

	& .pagination-next,
	& .pagination-previous {
		display: block;
		width: 100%;
	}
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@media screen and (min-width: 768px) {

	/* Comments */
	.entry-comments {
		max-width: 740px;
		margin: 0 auto;

		& > h3 {
			text-align: center;
		}
	}
	.comment .avatar {
		margin-right: 24px;
	}

	ul.children {
		margin-left: 40px;
	}

	#overlay {
		background: rgba(0,0,0,.4);
		border-radius: 3px;
		display: none;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 100;

		&.visible {
			display: block;
		}
	}

	#login-popup {
		display: none;
		height: 80vh;
		left: 25vw;
		position: fixed;
		text-align: center;
		top: 10vh;
		width: 50vw;
		z-index: 999;

		&.visible {
			display: block;
		}
	}

	.archive,
	.blog,
	.page-home .home-loop {

		/*& .content {
			align-items: stretch;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}*/

		& .entry-content {
			padding: 0;
			text-align: center;

			& p:first-of-type {
				font-size: 1em;
			}
		}

		& .entry {
			margin-bottom: 4%;
			/*width: 32%;*/
		}

		& .entry-header {
			padding: 0;

			& p.entry-meta svg {
				margin-left: 0;
			}
		}

		& .entry-title {
			margin-bottom: 10px;
		}

	}

	.entry-content {
		border-radius: 3px;
		padding: 40px;
		position: relative;
	}

	.single .entry {

		& .entry-header {
			clear: both;
			margin-bottom: 40px;
			position: relative;
		}

		& .entry-content {
			float: left;
			margin-left: 0;
			padding: 0;
			max-width: 100%;
			width: 100%;

			& > :not(.stretch) {
				max-width: 740px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	/* Pagination */
	.pagination {
		& .pagination-next,
		& .pagination-previous {
			display: inline-block;
			width: auto;
		}

		& .pagination-next {
			float: right;
		}

		& .pagination-previous {
			float: left;
		}
	}
}
