/*=============================
=            Forms            =
=============================*/

input,
select,
textarea {
	background-color: #fff;
	border-radius: 0;
	border: 1px solid var(--colorLight);
	color: var(--default);
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input:not( [type="checkbox" ] ),
input:not( [type="image"] ),
input:not( [type="radio"] ) {
	-webkit-appearance: none; /* Remove iOS styles */
}

::-moz-placeholder {
	color: var(--default);
	font-weight: 400;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: var(--default);
	font-weight: 400;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background: transparent;
	border: 3px solid var(--default);
	border-radius: 3px;
	color: var(--default);
	cursor: pointer;
	font-family: var(--fontHeading);
	font-weight: 400;
	padding: 10px 20px;
	position: relative;
	letter-spacing: .04em;
	background-image: none;
	width: auto;
	transition: all .15s ease-in-out;

	/*&.button-icon {
		padding-right: 20px;

		&::after {
			content: "\f3d1";
			font-family: var(--fontIcon);
			font-style: normal;
			opacity: 0;
			padding: 10px 0;
			position: absolute;
			top: 1px;
			transform: translateX(-100%);
			transition: all .15s ease-in-out;
		}

		&:focus,
		&:hover {
			padding-right: 40px;

			&::after {
				transform: translateX(10px);
				opacity: 1;
			}
		}

		&:active::after {
			transition: none;
			padding: 11px 0 9px;
		}

	}*/

	&.button-primary {
		background: var(--linkDefault);
		border-color: color( var(--linkDefault) shade(5%) );
		color: #fff;

		&:focus,
		&:hover {
			background: color( var(--linkDefault) tint(15%) );
			border-color: color( var(--linkDefault) shade(15%) );
			color: #fff;
			/*transform: scale( 1.05 );*/
		}

		&:active {
			background: color( var(--linkDefault) shade(5%) );
			border-color: color( var(--linkDefault) shade(10%) );
			transform: scale( 0.99 );
		}
	}

	&:focus,
	&:hover {
		background: color( var(--default) tint(5%) );
		border-color: color( var(--default) shade(5%) );
		color: #fff;
		text-decoration: none;
	}

	&:active {
		background: color( var(--default) shade(5%) );
		border-color: color( var(--default) shade(10%) );
		padding: 11px 20px 9px;
		text-shadow: 0 1px 1px rgba( 0,0,0,.4 );
		transition: none;
	}
}

.button {
	display: inline-block;
}

/*----------  Search Form  ----------*/

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

#header-search {
	display: none;
	height: 100%;
	position: absolute;
	top: 0;
	transition: transform .25s ease-in-out;
	width: 900px;

	& form {
		float: none;
		width: 100%;
	}

	& input[type="search"] {
		background: transparent;
		border: 0;
		color: var(--linkDefault);
		padding: 20px 0;
		text-align: left;

		&::-moz-placeholder {
			color: var(--linkDefault);
			font-weight: 300;
			opacity: 0;
		}

		&::-webkit-input-placeholder {
			color: var(--linkDefault);
			font-weight: 300;
			opacity: 0;
		}
	}

	& input[type="submit"] {
		display: none;
	}

	& input[type="submit"]:focus {
		display: block;
	}
}

.site-header.search-visible {
	& #header-search {
		display: block;
	}

	& .genesis-nav-menu .menu-item a:not([href="#search"]),
	& .title-area {
		display: none;
	}
}

.admin-bar .search-form.fixed {
	margin-top: 32px;
}

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
}

.entry-content,
.site-header {
	& .search-form {
		width: 50%;
	}
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}
