/*==================================
=            Navigation            =
==================================*/

.genesis-nav-menu {
	clear: both;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1;

	& .menu-item {
		display: block;
		position: relative;
		text-align: right;

		& a {
			padding: 20px;
		}
	}

	& a {
		color: #fff;
		display: block;
		padding: 20px 10px;
		text-align: left;

		&:focus,
		&:hover {
			background-color: color( var(--linkDefault) tint(15%) );
			text-decoration: none;
		}
	}

	& .menu-item.menu-item-has-children > a {
		padding-right: 50px;
	}
}

/*----------  Primary Navigation  ----------*/

.nav-primary {
	clear: both;
	display: none;
	height: 100vh;
	overflow-y: scroll;
	padding-bottom: 5%;

	& > .wrap {
		padding: 0;
	}
}

/*----------  Menu Toggle  ----------*/

.menu-toggle {
	float: right;

	&.button {
		border-radius: 0;
		padding: 10px 40px;
	}
}

/*=====================================
=            Media Queries            =
=====================================*/

@media screen and (min-width: 870px) {

	/* Navigation */
	.genesis-nav-menu {
		line-height: 1;

		& .menu-item {
			display: inline-block;
			text-align: left;
		}

		& > .menu-item:last-child > a {
			margin-right: 0;
		}

		& .menu-item a {
			background-image: linear-gradient( var(--linkDefault), var(--linkDefault) );
			background-position: 0 68%;
			background-repeat: repeat-x;
			background-size: .05em 1px;
			border: 0;
			margin: 0 20px;
			padding: 20px 0;
			text-shadow: .03em 0 var(--linkDefault), -.03em 0 var(--linkDefault), 0 .03em var(--linkDefault), 0 -.03em var(--linkDefault), .06em 0 var(--linkDefault), -.06em 0 var(--linkDefault), .09em 0 var(--linkDefault), -.09em 0 var(--linkDefault), .12em 0 var(--linkDefault), -.12em 0 var(--linkDefault);

			&:focus,
			&:hover {
				background-color: transparent;
				background-image: linear-gradient( #fff, #fff );
				color: #fff;
			}
		}

		& .menu-item.current-menu-item a {
	        background-image: linear-gradient( #fff, #fff );
			color: #fff;
			font-weight: 700;
			text-shadow: .03em 0 var(--linkDefault), -.03em 0 var(--linkDefault), 0 .03em var(--linkDefault), 0 -.03em var(--linkDefault), .06em 0 var(--linkDefault), -.06em 0 var(--linkDefault), .09em 0 var(--linkDefault), -.09em 0 var(--linkDefault), .12em 0 var(--linkDefault), -.12em 0 var(--linkDefault);
		}
	}

	/* Genesis Navigation */
	.nav-primary {
		clear: none;
		display: block;
		float: right;
		height: auto;
		overflow: hidden;
		padding: 0;
		width: auto;

		& .genesis-nav-menu {
			position: relative;
			text-align: center;
			z-index: 2;
		}

		& > .wrap {
			margin: 0;
		}
	}

	/* Mobile Navigation */
	.menu-toggle {
		display: none;
	}

}
