/*----------  Prism  ----------*/

pre,
code {
	background: var(--default);
	color: var(--colorLight);
	font-size: 16px;
	font-size: 1.6rem;
}

:not(pre) > code {
	background: var(--colorLight);
	color: var(--default);
	padding: .1em;
	overflow: scroll;
	white-space: nowrap;
}

/*!
 * Prism: Lightweight, robust, elegant syntax highlighting
 * MIT license http://www.opensource.org/licenses/mit-license.php/
 * @author Lea Verou http://lea.verou.me
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #d8d8d8;
	background: none;
	text-shadow: 0 1px color( var(--default) tint(10%) );
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	position: relative;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	& .toolbar {
		background: color( var(--default) tint(10%) );
		padding: .5em 1em;
		position: absolute;
		right: 0;
		top: 0;
	}
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: color( var(--default) tint(60%) );
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	text-shadow: none;
	background: color( var(--default) tint(60%) );
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 0 1em;
	margin: .05em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--default);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: 0;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #aaa;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #eabb65;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--linkDefault);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: color( var(--linkAlt) tint( 60% ) );
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #c678dd;
}

.token.regex,
.token.important,
.token.variable,
.token.function {
	color: #f96262;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre.line-numbers {
	padding-left: 3.8em;
	counter-reset: linenumber;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid slategrey;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: slategrey;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
.token a {
	background: none !important;
	color: inherit;
	font-style: italic;
	font-weight: normal !important;
	text-decoration: underline;
	text-shadow: none !important;

	&:focus,
	&:hover {
		color: var(--colorLight) !important;
		text-decoration: underline !important;
	}
}
