:root {

	/* Color Variables */
	/*--default: #2E323D;*/
	--default: #182635;
	--linkDefault: #00b28b;
	/*--linkAlt: #348AA7;*/
	/*--linkDefault: #4381C1;*/
	--linkAlt: #183859;
	--colorLight: #dddddd;
	--colorUltraLight: #f5f5f5;

	/* Font Family Variables */
	--fontBody: "freight-macro-pro", Georgia, serif;
	--fontHeading: "canada-type-gibson", "Arial Black", "Helvetica Neue", Arial, sans-serif;
	--fontIcon: "ionicons";

}
