
/*================================
=            Sidebars            =
================================*/

.sidebar {
	display: none;
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  1200  ----------*/

@media screen and (min-width: 1200px) {

	/* Primary Sidebar */
	.sidebar-primary {
		/*background: var(--colorUltraLight);*/
		border: 4px solid color( var(--linkAlt) tint(70%) );
		border-radius: 3px;
		float: right;
		padding: 40px;
		width: 380px;

		/*& a:not(.button) {
			text-shadow: .03em 0 var(--colorUltraLight), -.03em 0 var(--colorUltraLight), 0 .03em var(--colorUltraLight), 0 -.03em var(--colorUltraLight), .06em 0 var(--colorUltraLight), -.06em 0 var(--colorUltraLight), .09em 0 var(--colorUltraLight), -.09em 0 var(--colorUltraLight), .12em 0 var(--colorUltraLight), -.12em 0 var(--colorUltraLight);
		}*/
	}

	.sidebar-content,
	.sidebar-sidebar-content {

		& .sidebar-primary {
			float: left;
		}
	}

	/* Secondary Sidebar */

	.sidebar-secondary {
		float: left;
		width: 180px;
	}

	.content-sidebar-sidebar .sidebar-secondary {
		float: right;
	}

}
