

/*=================================
=            Structure            =
=================================*/

/*----------  Site Containers  ----------*/

.site-container {
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	z-index: 5;
}

.site-inner,
.wrap,
.site-footer {
	margin: 20px auto;
	max-width: 1200px;
	padding: 20px 40px;
	width: 100%;
}

.site-inner {
	border-radius: 3px;
	clear: both;
	margin-top: 65px; /* Height of header */
	padding: 20px 10px;
}

/*----------  Site Header  ----------*/

.site-header {
	background-color: var(--linkDefault);
	border-bottom: 1px solid color( var(--linkDefault) shade(10%) );
	box-shadow: 0 0 0 transparent;
	left: 0;
	margin-bottom: 20px;
	position: fixed;
	top: 0;
	transition: box-shadow .25s ease-in-out;
	width: 100%;
	z-index: 100;

	&.filled {
		box-shadow: 0 5px 20px color( var(--default) alpha(-70%) );
	}
}

.title-area {
	float: left;
	max-width: 70%;
}

.header-widget-area {
	display: none;
	float: right;
}

/*----------  Widgets  ----------*/

.widget {
	word-wrap: break-word;

	& ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	& li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

.widget_calendar {

	& table {
		width: 100%;
	}

	& th,
	& td {
		text-align: center;
	}
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@media screen and (min-width: 768px) {

	/* Structure */
	.site-inner,
	.site-footer {
		padding: 40px;
	}

	.footer-widgets {
		padding-left: 40px;
		padding-right: 40px;
	}

}

/*----------  1200  ----------*/

@media screen and (min-width: 1200px) {

	#site-overlay {
		background: color( var(--colorUltraLight) alpha(-40%) );
		display: none;
		height: 100%;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		transform: translate3d(0,0,0);
		transition: none;
		width: 100%;
		z-index: 50;

		&.visible {
			display: block;
		}
	}

	.site-inner {
		margin-top: 68px;
		padding-top: 40px;
	}

	.site-header {
		color: var(--default);
		height: auto;
		margin: 0 auto;

		& > .wrap {
			margin: 0 auto;
			padding: 1px 40px 0;
	        transition: all .15s ease-in-out;
		}
	}

	.content {
		float: none;
		margin: 0 auto;
		width: 100%;
	}

	.entry-content {
		margin: 0 auto;
		max-width: 700px;
	}

	/*----------  Columns  ----------*/
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}

}
