

/*=================================
=            Structure            =
=================================*/

/*----------  Site Containers  ----------*/

.site-container {
	background: var(--colorUltraLight);
	box-shadow: 0 10px 30px rgba(0,0,0,.4);
	margin: 0 auto;
	position: relative;
	z-index: 5;
}

.site-inner,
.wrap {
	margin: 20px auto;
	max-width: 1200px;
	padding: 5%;
	width: 100%;
}

.site-inner {
	clear: both;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	padding: 52px 5% 5%;
}

/*----------  Site Header  ----------*/

.site-header {
	background-color: var(--linkDefault);
	box-shadow: 0 0 0 color( var(--default) alpha(-70%) );
	left: 0;
	position: fixed;
	top: 0;
	transition: box-shadow .25s ease-in-out;
	width: 100%;
	z-index: 100;

	&.filled {
		box-shadow: 0 5px 20px color( var(--default) alpha(-70%) );
	}

	& > .wrap {
		margin: 0 auto;
		max-width: 100%;
		padding: 1px 0 0;
		transition: all .15s ease-in-out;
	}
}

.title-area {
	float: left;
	max-width: 70%;
	padding-left: 20px;
}

/*----------  Widgets  ----------*/

.widget {
	word-wrap: break-word;

	& ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	& li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

#site-overlay {
	background: color( var(--default) alpha(-10%) );
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;

	&.visible {
		display: block;
	}
}

/*=====================================
=            Media Queries            =
=====================================*/

/*----------  768  ----------*/

@media screen and (min-width: 870px) {

	/* Structure */
	.site-footer {
		padding: 40px;
	}

	.site-inner {
		margin-top: 60px;
		min-height: calc( 90vh );
		padding: 0 0 40px;
	}

	.wrap {
		padding: 20px 40px;
	}

	.site-header {
		& > .wrap {
			max-width: 1200px;
			padding: 0 40px;
		}
	}

	body:not(.single) .site-container::after {
		background-image: url('assets/svgs/tube-scheme.svg');
		background-position: center -340px;
		background-repeat: no-repeat;
		background-size: 800px 800px;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		opacity: .5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.title-area {
		padding-left: 0;
	}

	.entry-content {
		margin: 0 auto;
		max-width: 700px;
	}

	.footer-widgets {
		padding-left: 40px;
		padding-right: 40px;
	}

}

/*----------  1200  ----------*/

@media screen and (min-width: 1200px) {

	.content {
		float: none;
		margin: 0 auto;
		width: 100%;
	}

	/*----------  Columns  ----------*/
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}

}
