.svg-icon {
	font-size: 1em;
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: currentColor;
}

.svg-icon circle {
  stroke: currentColor;
  stroke-width: 1;
}
