html {
	font-size: 1em;

	@include media-breakpoint-up(md) {
		font-size: 18px;
	}

	&.wf-active body {
		font-family: $web_font;
	}
}

body {
	background-color: #fff;
	font-family: $body_font;
	font-weight: 400;
	line-height: 1.45;
	color: $gray;
}